<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>New message</title>
    <form action="" class="messageBox">
      <div>
        <div>
          <label for="sender">Sender</label>
          <label for="messagetext"> Message</label>
        </div>
        <div>
          <input type="text" />
          <input type="text" />
        </div>
      </div>
    </form>
  </head>
  <body></body>
</html>
