<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
    <script src="/main.js" defer></script>
  </head>
  <body class="body">
    <h1 class="titleCard"><%= title %></h1>

    <ul>
      <div class="holderCard">
        <% messages.forEach(message => { %>

        <div class="messageBox">
          <div class="nameHolder"><%= message.user %></div>
          <div class="textSession"><%= message.text %></div>
          <div class="timeStamp">
            <%= dayjs(message.added).format("ddd MMM D YYYY h:mm A") %>
          </div>
        </div>

        <% }) %>
      </div>
    </ul>
    <button id="addButton">Send a new message</button>
    <div>
      <form action="/newMessage" class="form" method="POST">
        <div class="nameHolder">New Message</div>
        <div class="Control_section">
          <div>
            <label for="sender">Sender</label>
            <label for="messagetext"> Message</label>
          </div>
          <div>
            <input type="text" name="user" />
            <input type="text" name="text" />
          </div>
        </div>
        <div><input type="Submit" Value="Send Message" /></div>
      </form>
    </div>
  </body>
</html>
